.bookmarkFoldersList {
  margin-top: 8rem;
  margin-right: 8rem;
  margin-left: 8rem;
}

.bookmarkFolders {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.bookmarkFolders > div {
  background-color: #c7c7c7;
  flex-basis: 33.33%;
  margin: 10px;
  flex-grow: 1;
  border-radius: 1rem;
}
